:root {
  --gold: #BE9E56;
  --dark-blue: #003365;
  --light-blue: #00B7E5;
  --gray: #E5E5E5;
  --padding-subtitles: 20px;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 200,
  'opsz' 48
}

header {
  margin: 0;
  padding: 0;
  background-color: var(--light-blue);
  text-align: center;
}

header p {
  display: inline-block;
  color: white;
  font-size: 12px;
}

main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  /* overflow: hidden; */
  /* margin: 0 auto; */
}

section {
  display: flex;
  flex-direction: column;
}

/* *************** Top Banner *************** */

.banner {
  height: calc( 100vw / (640/427) );
  background-image: url("../images/buildings-small.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 15px;
  align-self: center;
}

.logo {
  width: 100px;
  height:fit-content;
}

.icon-menu {
  width: 24px;
  height: 24px;
  background-image: url("../images/icons/menu_24.svg");
}

.icon-account {
  width: 24px;
  height: 24px;
  background-image: url("../images/icons/account_circle_24.svg");
}

h1 {
  color: var(--dark-blue);
  font-size: 36px;
  background-color: rgba(255,255,255,.35);
  padding: 15px;
  width: 100%;
  height: 25%;
  margin-top: 60px;
  text-align: center;
}

.email-section {
  position: relative;
  width: 300px;
  height: 130px;
  background-color: rgba(0,20,40,.75);;
  clip-path: ellipse(50% 50% at 50% 50%);
  left: -50px;
  bottom: -40px;
}

form label {
  position: relative;
  color: white;
  font-size: 12px;
  margin: 0;
  padding-left: 65px;
  top: 15px;
}

form input {
  position: relative;
  left:65px;
  width: 190px;
  border-radius: 5px;
  padding: 3px;
}

/* *************** Services *************** */
.services {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.services-title {
  color: var(--dark-blue);
  font-size: 40px;
  text-align: center;
  background-color: white;
  padding: var(--padding-subtitles);
}

.services-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-item {
  width: 200px;
  margin: 15px 0;
}

.savings-img,
.grow-img,
.property-img {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.savings-img {
  background-image: url("../images/savings.jpg");
}

.grow-img {
  background-image: url("../images/grow.jpg");
}

.property-img {
  background-image: url("../images/property.jpg");
}

.services-item h3 {
  position: relative;
  bottom: -170px;
  font-size: 24px;
  text-align: center;
  background-color: rgba(229, 229, 229, .35);
}

.services-item p {
  font-size: 12px;
  margin-top: 5px;
}



/* *************** Reviews *************** */


.reviews {
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews h2 {
  color: white;
  font-size: 40px;
  text-align: center;
  padding: var(--padding-subtitles);
}
.reviews div {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.reviews section {
  margin-top: 30px;
  margin-bottom: 30px;
}

.reviews h3 {
  color: var(--light-blue);
  margin-top: 10px;
  margin-bottom: 10px;
}

.reviews blockquote {
  color: white;
}

.reviews h4 {
  color: var(--gray);
  text-align: end;
  margin-top: 30px;
}


/* *************** Chat *************** */

.chat {
  position: fixed;
  bottom: 60px;
  right: 20px;
  
  width: 48px;
  height: 48px;
  
  border-radius: 50%;
  
  background-color: var(--light-blue);
  background-image: url("../images/icons/question_answer_white_24dp.svg");
  background-repeat: no-repeat;
  background-position: center;
  
  filter: drop-shadow(0px 10px 11px #003365);
}

.chat:hover {
  width: 72px;
  height: 72px;
  
  background-image: url("../images/icons/question_answer_white_36dp.svg");
}

.chat p {
  font-size: 60px;
}


/* *************** Footer *************** */

/*
  ! wght@0,100;0,300;0,400;0,500;0,700;0,900;
  ! 1,100;1,300
*/

footer {
  display: flex;
  flex-direction: column;
  padding: 15px 30px 30px 30px;
  background-color: var(--gray);
  color: var(--dark-blue);
  font-size: 12px;
  text-decoration: none;
}

footer h2 {
  color: var(--light-blue);
  text-transform: capitalize;
  font-weight: 300;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
}

footer h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

footer address {
  margin-bottom: 20px;
}

footer a {
  text-decoration: none;
  color: var(--dark-blue);
  margin-bottom: 5px;
}

footer span {
  color: var(--gold);
}

.footer--services {
  font-size: 18px;
}

footer p {
  margin: 10px 0;
}

hr {
  margin: 10px 0;
}

@media screen and (min-width: 768px) {

  .services-title {
    font-size: 60px;
  }

  .services-cards {
    flex-direction: row;
    justify-content: space-around
  }

  .services-item {
    margin: 40px 0;
  }

  .services-item p {
    font-size: 16px;
    margin-top: 10px;
  }

}