:root {
  --gold: rgba(190, 158, 86, 1);
  --dark-blue: rgba(0, 51, 101, 1);
  --light-blue: rgba(0, 183, 229, 1);
  --gray: rgba(229, 229, 229, 1);
  --padding-subtitles: 20px;

  --mainMenu_top: 0px;
  --mainMenu_left: 0px;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  user-select: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 200,
  'opsz' 48
}

header {
  margin: 0;
  padding: 3px;
  background-color: var(--light-blue);
  text-align: center;
}

header p {
  display: inline-block;
  color: white;
  font-size: 14px;
}

main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  /* overflow: hidden; */
  /* margin: 0 auto; */
}

section {
  display: flex;
  flex-direction: column;
}

/* *************** Top Banner *************** */

.top-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc( 100vw / (640/427) );
  background-image: url("../images/buildings-small.jpg");
  background-position: top; /* ? check if needed */
  /* background-repeat: no-repeat; */
  background-size: 100% auto; /* ? check if needed */
  overflow: hidden;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 28px;
  margin-top: 15px;
  align-self: center;
}

.top-nav__logo {
  order: 1;
}

.top-nav__account-icon {
  order: 2;
}

.top-nav__menu {
  /* display: flex; */
  color: var(--gray);
  border: 0px solid #003365;
  background: linear-gradient(90deg, rgba(0,51,101,1) 0%, rgba(0,36,71,1) 100%);
  user-select: none;
  width: 55%;
  height: 50%;
  overflow-x: hidden;
}

.top-nav__menu::backdrop {
  background-color: rgba(0,0,0,0);
}

.top-nav__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.top-nav__menu--cross {
  align-self: flex-end;
  font-size: 36px;
  font-weight: 100;
  margin-right: 14px;
  margin-bottom: 30px;
}

.top-nav__menu-link {
  text-decoration: none;
  color: var(--gray);
  padding: 20px;
  font-size: 28px;
  border-top: 0.25px solid rgba(0, 183, 229, .20);
}

.top-nav__menu-link--property {
  border-bottom: 0.25px solid rgba(0, 183, 229, .20);
}

.top-nav__menu-link:hover {
  background-color: rgba(0, 51, 101);
}

/* start from the menu icon position */
/* .main_menu {
  padding: 0 20px 40px 20px;
  color: var(--gray);
  border: 0px solid #003365;
  background-color: var(--dark-blue);
  top: var(--mainMenu_top);
  left: var(--mainMenu_left);
  user-select: none;
} */

/* halft screen menu version */

.top__title {
  color: var(--dark-blue);
  font-size: 36px;
  background-color: rgba(255,255,255,.35);
  padding: 15px;
  width: 100%;
  text-align: center;
}

.top-get-email {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  background-color: rgba(0,20,40,.75);;
  /* clip-path: ellipse(50% 50% at 50% 50%); */
}

.top-get-email input {
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  border: none;
  width: 280px;
}

.top-get-email input::placeholder {
  font-size: 12px;
  color: rgba(229, 229, 229);
}

.top-get-email button {
  font-size: 18px;
  border: none;
  background: none;
}

/* *************** Services *************** */
.services {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.services-title {
  color: var(--dark-blue);
  font-size: 40px;
  text-align: center;
  background-color: white;
  padding: var(--padding-subtitles);
}

.services-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-item {
  width: 200px;
  margin: 15px 0;
}

.savings-img,
.grow-img,
.property-img {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.savings-img {
  background-image: url("../images/savings.jpg");
}

.grow-img {
  background-image: url("../images/grow.jpg");
}

.property-img {
  background-image: url("../images/property.jpg");
}

.services-item h3 {
  position: relative;
  bottom: -170px;
  font-size: 24px;
  text-align: center;
  background-color: rgba(229, 229, 229, .35);
}

.services-item p {
  font-size: 12px;
  margin-top: 5px;
}



/* *************** Reviews *************** */


.reviews {
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews h2 {
  color: white;
  font-size: 40px;
  text-align: center;
  padding: var(--padding-subtitles);
}
.reviews div {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.reviews section {
  margin-top: 30px;
  margin-bottom: 30px;
}

.reviews h3 {
  color: var(--light-blue);
  margin-top: 10px;
  margin-bottom: 10px;
}

.reviews blockquote {
  color: white;
}

.reviews h4 {
  color: var(--gray);
  text-align: end;
  margin-top: 30px;
}


/* *************** Chat *************** */

.chat {
  position: fixed;
  bottom:40px;
  right: 20px;
  
  width: 48px;
  height: 48px;
  
  border-radius: 50%;
  
  background-color: var(--light-blue);
  background-image: url("../images/icons/question_answer_white_24dp.svg");
  background-repeat: no-repeat;
  background-position: center;
  
  filter: drop-shadow(0px 10px 11px #003365);
}

.chat:hover {
  width: 72px;
  height: 72px;
  
  background-image: url("../images/icons/question_answer_white_36dp.svg");
}

.chat p {
  font-size: 60px;
}


/* *************** Footer *************** */

/*
  ! wght@0,100;0,300;0,400;0,500;0,700;0,900;
  ! 1,100;1,300
*/

.footer {
  display: flex;
  flex-direction: column;
  padding: 15px 30px 30px 30px;
  background-color: var(--gray);
  
  color: var(--dark-blue);
}

.footer h2 {
  color: var(--light-blue);
  text-transform: capitalize;
  font-weight: 300;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer-services__link {
  text-decoration: none;
  font-size: 24px;
  color: var(--dark-blue);
  margin-bottom: 5px;
  text-transform: capitalize;
}

.footer span {
  color: var(--gold);
}

.footer-services__social-network-icon--twitter {
  width: 28px;
}

.footer h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer address {
  margin-bottom: 20px;
}

.footer-services__terms-policies {
  margin: 3px 0;
}

.footer-services__copyright {
  font-size: 12px;
  margin: 10px 0;
}

hr {
  margin: 10px 0;
}

.footer-services__modal {
  width: 75%;
  padding: 5px 20px 20px;
  margin: auto;
  border: 0px;
  border-radius: 5px;
}

.footer-services__modal::backdrop {
  backdrop-filter: blur(3px);
}

.footer-services__modal form {
  display: flex;
  flex-direction: column;
}

.footer-services__modal span {
  align-self: flex-end;
  font-size: 28px;
}


@media screen and (min-width: 768px) {

  .services-title {
    font-size: 60px;
  }

  .services-cards {
    flex-direction: row;
    justify-content: space-around
  }

  .services-item {
    margin: 40px 0;
  }

  .services-item p {
    font-size: 16px;
    margin-top: 10px;
  }

}