@media screen and (min-width: 768px) {

  .top__title {
    font-size: 58px;
  }

  .services-cards {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .reviews div {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
  }

  .reviews section {
    width: 35%;
  }

}